# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
venv/

# Logs
logs/

# Environment
.env

# Mac
.DS_Store

#databases
data/*.db

#qr_code
generate_qrcode.py
github_qr_custom.png
